#headerMessage{
  background-color: gray;
  margin-bottom: 25px;
  width: 100%;
}

#comments{
      
}

#logo{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}




/* Photo transitions section*/
@keyframes cf4aFadeInOut {
    0% {
      opacity:1;
    }
    17% {
      opacity:1;
    }
    25% {
      opacity:0;
    }
    92% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  #cf4a {
    position:relative;
    
    right:0;
    left:0;
    bottom:0;
    background:white;
    height:500px;
    width:100%;
    margin:auto;
  }
  
  #cf4a img {
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    animation-name: cf4aFadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 25s;
    animation-direction: normal;
  }
  
  #cf4a img:nth-of-type(1) {
    animation-delay: 20s;
  }
  #cf4a img:nth-of-type(2) {
    animation-delay: 15s;
  }
  #cf4a img:nth-of-type(3) {
    animation-delay: 10s;
  }
  #cf4a img:nth-of-type(4) {
    animation-delay: 5s;
  }
  #cf4a img:nth-of-type(5) {
      animation-delay: 0s;
  }
  /* End Photo Transition */

  


  /* footer Section */
  #feet{
      background-color: lightgray;
      overflow: auto;
  }
  #feetpic{
      margin: auto;
      position: relative;
      float:right; 
      overflow: auto; 
      clear:right

  }

  #copyright{
    margin: auto;
      text-align: center;
      vertical-align: bottom;
      clear: both;
      display: table; 
      margin:auto

  }
  
  /* End Footer */

  /* Form */
  input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    margin: 1%;
    width: 25%;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
  }
  /* End Form */

  #ContactUs{
    margin-bottom: auto;
  }








    




